<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="Validation" (submit)="onSubmit()">
                <div
                  class="alert alert-danger"
                  *ngIf="submitted && !isResponseSuccess"
                >
                  Please Enter a valid Email or Password
                </div>
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    formControlName="username"
                    type="text"
                    required
                    [ngClass]="
                      !isUserNameValid
                        ? {
                            'is-invalid':
                              submitted && Validation.controls.username.errors
                          }
                        : 'is-valid'
                    "
                    autoComplete="username"
                    cFormControl
                    placeholder="Username"
                  />
                </c-input-group>

                <div
                  *ngIf="submitted && Validation.controls.username.errors"
                  class="text-danger"
                >
                  <div *ngIf="submitted && Validation.controls.username.errors">
                    Enter a valid Username
                  </div>
                  <br />
                </div>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    formControlName="password"
                    type="password"
                    required
                    [ngClass]="
                      !isPasswordValid
                        ? {
                            'is-invalid':
                              submitted && Validation.controls.password.errors
                          }
                        : 'is-valid'
                    "
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                  />
                </c-input-group>
                <div
                  *ngIf="submitted && Validation.controls.password.errors"
                  class="text-danger"
                >
                  <div *ngIf="submitted && Validation.controls.password.errors">
                    Password Should be at least 4 characters
                  </div>
                  <br />
                </div>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="px-4" color="primary">
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
