h1,h2,h3,h4,h5,h6{
  color: #081f3e;
}
.active
{
  background-color: #081f3e;
}
.btn{
  color: #081f3e;
  border: 1px solid #081f3e;
  transition: 0.3s;
  background-color: var(--backgroundColor);

}
.aon-newChart-edit {
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fff;
}
.pecen-pic {
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 10px;
}
img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

.Patient-button {
  background-color: var(--mainColor);
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  outline: none;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.boxBorder {
  max-width: 1050px;
  margin: 0px 30px;
  border: 7px solid var(--mainColor);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  width: 75%;
}

.data-text h5 {
    padding: 30px;
    font-size: 43px;
    line-height: 1.6;
    font-weight: 700;
    color: var(--mainColor);
    margin-bottom: 70px;
}
.data-pic img {
    margin-top: -100px;
}
@media screen  and (max-width:992px){
  .boxBorder{
    width: 90%;
    margin: auto;
  }
  .data-text h5 {
    font-size: 30px;
  }
}
