<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="mb-4">Statistics</c-card-header>
      <c-row class="justify-content-md-center mb-4">
        <c-col [sm]="4">
          <c-card class="text-center m">
            <c-card-body>
              <h5 cCardTitle>{{ Departments.length }}</h5>
              <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                Total Departments
              </h6>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col [sm]="4">
          <c-card class="text-center m">
            <c-card-body>
              <h5 cCardTitle>{{ Doctors.length }}</h5>
              <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                Total Doctors
              </h6>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
      <c-row class="justify-content-md-center mb-4">
        <c-col [sm]="4">
          <c-card class="text-center m">
            <c-card-body>
              <h5 cCardTitle>{{ Patients.length }}</h5>
              <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                Total Patients
              </h6>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col [sm]="4">
          <c-card class="text-center m">
            <c-card-body>
              <h5 cCardTitle>{{ Reservations.length }}</h5>
              <h6 cCardSubtitle class="mb-2 text-medium-emphasis">
                Total Reservations
              </h6>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="mb-4">Search</c-card-header>
      <c-row class="justify-content-md-center mb-4">
        <c-col [sm]="10">
          <div class="input-group">
            <input
              type="text"
              class="form-control app-search"
              placeholder="Search"
              [(ngModel)]="searchQuery"
              (keyup)="onSearch()"
            />
          </div>
        </c-col>
      </c-row>

      <c-row
        class="justify-content-md-center mb-4"
        *ngIf="SearchResult.length > 0"
      >
        <c-col [sm]="10">
          <table class="table align-middle mb-0 bg-white">
            <thead class="table-dark">
              <tr>
                <th>Label</th>
                <th>ID</th>
                <th>Value</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of SearchResult">
                <td>{{ item.label }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.value }}</td>
                <td class="text-center">
                  <a
                    routerLink="/{{ item.route }}/{{ item.id }}"
                    class="btn"
                    title="Details"
                    ><i class="fa-solid fa-desktop text-info"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </c-col>
      </c-row>
    </c-card>
  </c-col>
</c-row>
