<!-- <p>all-patients works!</p>
<table class="table text-center">
    <thead>
      <tr>
        <th>Patient</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of Patients">
        <td>{{p.fullName}}</td>
        <td>
            <a class="btn btn-danger" (click)="DeletePatient(p.id)">Delete</a></td>
      </tr>
    </tbody>
  </table> -->

<table class="table align-middle mb-0 bg-white">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of Patients">
        <td>{{p.id}}</td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{p.fullName}}</p>
            </div>
          </div>
        </td>
        <td class="text-center">
          <!-- <a routerLink="/Doctors/{{p.id}}" class="btn" title="Details"><i class="fa-solid fa-desktop text-info" ></i></a> -->
          <button (click)="DeletePatient(p.id)" class="btn " title="Delete"><i class="fa-solid fa-trash text-danger" ></i></button>
        </td>
      </tr>
    </tbody>
</table>
