
<div class="about">
  <div class="banner ">
   <div class="container">
    <div class="title ">
      <h2 > {{"aboutus" | translate}}</h2>
      <p class="text-white link-nav">
        <a routerLink="/home">{{"Home" | translate}} </a> <i class="fa-solid fa-arrow-right" style="color: #081f3e;"></i>
        <a routerLink="about"> {{"aboutus" | translate}}</a></p>
     </div>
   </div>
  </div>

     <section class="first">
         <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-7 col-md-12">
               <div class="data">
                <h2>{{"welcome" | translate}}</h2>
                   <p>{{"firstAboutParagraph" | translate}}</p>
                   <p> {{"secondAboutParagraph" | translate}} </p>
               </div>


            </div>
            <div class="col-lg-5 col-md-12">
                 <div class="image">
                     <img src="assets/images/top_service.png.png"  alt="">
                 </div>
            </div>


        </div>
         </div>

     </section>

     <section class="second">
          <div class="row my-5 mx-auto g-3 load">
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p1 ">
                <progress value="90" min="0" max="100" style="visibility:hidden;height:0;width:0;">90%</progress>
              </div>
              <h6 class="mx-auto w-75 text-center">{{"Donations" | translate}}</h6>

            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p2">
                <progress value="80" min="0" max="100" style="visibility:hidden;height:0;width:0;">95%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"Ambition" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p3">
                <progress value="100" min="0" max="100" style="visibility:hidden;height:0;width:0;">100%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"HardWork" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p4">
                <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">100%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"Passion" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p5">
                <progress value="85" min="0" max="100" style="visibility:hidden;height:0;width:0;">85%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"Science" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p6">
                <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
              </div>
              <h6 class="mx-auto w-75 text-center">{{"Creativity" | translate}}</h6>
            </div>


        </div>
     </section>

   <section class="work" >
    <h1 class="heading text-center position-relative  fw-bold">{{"Features" | translate}}</h1>
    <div class="line"></div>
    <div class="container pt-5">
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="box mb-5 me-2 overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <div class="image overflow-hidden">
                        <img class="w-100" src="/assets/images/dept_3.jpg" alt="work" />
                    </div>
                    <div class="text p-4">
                        <h3 class="fs-5 ">{{"WorkingHours" | translate}}</h3>
                        <ul class="p-0 m-0">
                          <li>{{"Monday" | translate}} - {{"Thursday" | translate}} <span class="ms-1">8.00 - 19.00</span></li>
                          <li>{{"Friday" | translate}} - {{"Tuesday" | translate}}<span class="ms-4"> 8.00 - 18.30</span></li>
                           <li>{{"Saturday" | translate}} - {{"Sunday" | translate}} <span class="ms-2">  9.30 - 17.00</span></li>
                          </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="box mb-5 me-2 overflow-hidden"  data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <div class="image overflow-hidden">
                        <img class="w-100" src="/assets/images/image_6.jpg " alt="work" />
                    </div>
                    <div class="text p-4">
                      <h3 class="fs-5 ">{{"Appointments" |translate}}</h3>

                           <p>{{"provideAppointments" | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="box mb-5 me-2 overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    <div class="image overflow-hidden">
                        <img class="w-100" src="/assets/images/dept_2.jpg" alt="work" />
                    </div>
                    <div class="text p-4">
                      <h3 class="fs-5 ">{{"EmergencyCases" | translate}}</h3>
                        <p>{{"emergency" | translate}} </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="box mb-5 me-2 overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  <div class="image overflow-hidden">
                      <img class="w-100" src="/assets/images/bed.png" alt="work" />
                  </div>
                  <div class="text p-4">
                      <h3 class="fs-5 ">{{"Intensivecare" | translate}}</h3>
                      <p>{{"urgentcare" | translate}}</p>

                  </div>
              </div>
          </div>


        </div>
    </div>

</section>

  <section class="Healthcare">

    <h1 class="heading text-center position-relative  fw-bold"> {{"QualityHealth" | translate}}</h1>
    <div class="line"></div>

    <div class="container">
      <div class="row gy-3 mt-5">

        <div class="col-md-6 col-md-pull-6 animate-box fadeInUp animated-fast">
            <h2 class="mb-4">{{"AboutHealthcare" | translate}}</h2>

            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header ">
                  <button class="accordion-button bgColor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{"Vision" | translate}}
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>{{"medical" | translate}}</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed Color " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{"mission" | translate}}
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>{{"wellness" | translate}}</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed bgColor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   {{"CoreValues" | translate}}
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="col-md-12">
                      <ul>
                        <li><strong>{{"Justice" | translate}}</strong> : {{"JusticeText" | translate}}</li>
                        <li><strong>{{"QualityandExcellence" | translate}}</strong> : {{"QualityandExcellenceText" | translate}}</li>
                        <li><strong>{{"Professionalism" | translate}}</strong> : {{"Professionalismtext" | translate}}</li>
                   </ul>
                  </div>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="col-md-6 col-md-push-6 animate-box fadeInUp animated-fast text-center">
          <img class="img-responsive about-img w-50" src="/assets/images/about.png" alt="">
      </div>
        </div>
      </div>


</section>

</div>
