
<div class="about">
  <div class="banner ">
   <div class="container">
    <div class="title ">
      <h2 > {{"About" | translate}}</h2>
      <p class="text-white link-nav">
        <a routerLink="/home">{{"Home" | translate}} </a> <i class="fa-solid fa-arrow-right" style="color: #081f3e;"></i>
        <a routerLink="about"> {{"About" | translate}}</a></p>
     </div>
   </div>
  </div>

     <section class="first">
         <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-7 col-md-12">
               <div class="data">
                <h2>{{"welcome" | translate}}</h2>
                   <p>{{"firstAboutParagraph" | translate}}</p>
                   <p> {{"secondAboutParagraph" | translate}} </p>
               </div>


            </div>
            <div class="col-lg-5 col-md-12">
                 <div class="image">
                     <img src="assets/images/top_service.png.png"  alt="">
                 </div>
            </div>


        </div>
         </div>

     </section>

     <section class="second">
          <div class="row my-5 mx-auto g-3 load">
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p1 ">
                <progress value="90" min="0" max="100" style="visibility:hidden;height:0;width:0;">90%</progress>
              </div>
              <h6 class="mx-auto w-75 text-center">{{"Donations" | translate}}</h6>

            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p2">
                <progress value="80" min="0" max="100" style="visibility:hidden;height:0;width:0;">95%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"Ambition" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p3">
                <progress value="100" min="0" max="100" style="visibility:hidden;height:0;width:0;">100%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"HardWork" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p4">
                <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">100%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"Passion" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p5">
                <progress value="85" min="0" max="100" style="visibility:hidden;height:0;width:0;">85%</progress>
              </div>
              <h6 class="m-auto w-75 text-center">{{"Science" | translate}}</h6>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 d-flex align-items-center justify-content-center flex-column">
              <div class="progress-bar mb-3 p6">
                <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
              </div>
              <h6 class="mx-auto w-75 text-center">{{"Creativity" | translate}}</h6>
            </div>


        </div>
     </section>

   <section class="work" >
    <h1 class="heading text-center position-relative  fw-bold">{{"Features" | translate}}</h1>
    <div class="line"></div>
    <div class="container pt-5">
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="box mb-5 me-2 overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <div class="image overflow-hidden">
                        <img class="w-100" src="/assets/images/dept_3.jpg" alt="work" />
                    </div>
                    <div class="text p-4">
                        <h3 class="fs-5 ">{{"WorkingHours" | translate}}</h3>
                        <ul class="p-0 m-0">
                          <li>{{"Monday" | translate}} - {{"Thursday" | translate}} <span class="ms-1">8.00 - 19.00</span></li>
                          <li>{{"Friday" | translate}} - {{"Tuesday" | translate}}<span class="ms-4"> 8.00 - 18.30</span></li>
                           <li>{{"Saturday" | translate}} - {{"Sunday" | translate}} <span class="ms-2">  9.30 - 17.00</span></li>
                          </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="box mb-5 me-2 overflow-hidden"  data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <div class="image overflow-hidden">
                        <img class="w-100" src="/assets/images/image_6.jpg " alt="work" />
                    </div>
                    <div class="text p-4">
                      <h3 class="fs-5 ">{{"Appointments" |translate}}</h3>

                           <p>{{"provideAppointments" | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="box mb-5 me-2 overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    <div class="image overflow-hidden">
                        <img class="w-100" src="/assets/images/dept_2.jpg" alt="work" />
                    </div>
                    <div class="text p-4">
                      <h3 class="fs-5 ">{{"EmergencyCases" | translate}}</h3>
                        <p>{{"emergency" | translate}} </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="box mb-5 me-2 overflow-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  <div class="image overflow-hidden">
                      <img class="w-100" src="/assets/images/bed.png" alt="work" />
                  </div>
                  <div class="text p-4">
                      <h3 class="fs-5 ">{{"Intensivecare" | translate}}</h3>
                      <p>{{"urgentcare" | translate}}</p>

                  </div>
              </div>
          </div>


        </div>
    </div>

</section>

  <section id="testimonial">

    <h1 class="heading text-center position-relative  fw-bold"> Patient's Feedback </h1>
    <div class="line"></div>
    <div class="container mt-5 ">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="feadback m-auto d-flex justify-content-center position-relative overflow-hidden">
                        <div class="color"></div>
                        <div class="img-feadback me-3 ">
                            <img src="/assets/images/2.jpg" class=" position-relative" alt=" profile">
                        </div>
                        <div class="data-feadback">
                            <h3>Alex ander</h3>
                            <a href="#" class=" text-muted"><i class="fa-solid fa-location-dot"></i> United</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut porro quam, praesentium nihil nisi
                                perferendis est natus error
                                fugiat, minus a esse eos voluptates sit omnis numquam? Similique, necessitatibus.</p>

                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div class="feadback m-auto d-flex justify-content-center position-relative overflow-hidden">
                        <div class="color"></div>
                        <div class="img-feadback me-3 ">
                            <img src="/assets/images/3.jpg" class=" position-relative" alt=" profile">
                        </div>
                        <div class="data-feadback">
                            <h3>Morgan Freeman</h3>
                            <a href="#" class=" text-muted"><i class="fa-solid fa-location-dot"></i> United</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut porro quam, praesentium nihil nisi
                                perferendis est natus error
                                fugiat, minus a esse eos voluptates sit omnis numquam? Similique, necessitatibus.</p>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">

                  <div class="feadback m-auto d-flex justify-content-center position-relative overflow-hidden">
                      <div class="color"></div>
                      <div class="img-feadback me-3 ">
                          <img src="/assets/images/testimonial-4.jpg" class=" position-relative" alt=" profile">
                      </div>
                      <div class="data-feadback">
                          <h3>Marta Socrate</h3>
                          <a href="#" class=" text-muted"><i class="fa-solid fa-location-dot"></i> United</a>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut porro quam, praesentium nihil nisi
                              perferendis est natus error
                              fugiat, minus a esse eos voluptates sit omnis numquam? Similique, necessitatibus.</p>

                      </div>
                  </div>
              </div>

            </div>

            <div class="carousel-indicators position-static">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active mx-2"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>

            </div>

        </div>
    </div>

</section>

</div>
