/* You can add global styles to this file, and also import other style files */
/* Start Global Data */
:root{
  --mainColor:#18a3eb;
  --backgroundColor:#f0f4f8;
  --secondaryColor:#081f3e;
  --padding-top: 80px;
  --padding-bootm:80px;
}
ul{
  list-style: none;
}
a{text-decoration: none;
}
.container{
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;
}
/* End Global Data */
.heading{
  color: #444;
  font-size: 60px;
  text-align: center;
  text-shadow: var(--text-shadow);
  letter-spacing: 5px;
  padding-bottom: 15px;
  font-weight: 900;
}
.heading span{
  color: var(--mainColor);
}
