.section{
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bootm);

}
.section .container{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
  gap: 40px;
}
.section .container .box{
  padding-top: 20px;
  text-align: center;
  border: 1.5px solid #96bce1;
  border-radius: 8px;
  transition: 0.3s;

}
.section .container .box i{
  font-size: 40px;
  color: var(--mainColor);
  padding-bottom: 10px;
  transition: 0.3s;
}
.section .container .box h2{
  font-size: 44px;
  text-shadow: var(--text-shadow);
  color: #444;
  padding-bottom: 10px;
  font-weight: 700;
}
.section .container .box p{
  color: #777;
  font-size: 16px;
  font-weight: 500;
}
.section .container .box:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.section .container .box:hover i{
  transform: scale(1.2);

}
.services{
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bootm);
  background-color: var(--backgroundColor);
}
.services .icon{
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}
.services .icon i{
  color: var(--mainColor);
}
.data h4{
  font-weight: 700;
  font-size: 20px;
  color: #081f3e;
}
