.wrapper {
  margin-top: 120px;
}
.search,.searchArabic {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input,.searchArabic input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}
span {
  font-size: 15px;
  font-weight: 600;
}

.search input:focus,.searchArabic input:focus  {
  box-shadow: none;
  border: 2px solid var(--mainColor);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.searchArabic .fa-search{
  position: absolute;
  top: 20px;
  right: 16px;
}

.search button{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: var(--mainColor);
}
.searchArabic button{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 50px;
  width: 110px;
  background: var(--mainColor);
}

.aon-med-team .aon-med-team-pic {
  width: 180px;
  margin-right: 20px;
  position: relative;
}
img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
h5 > a {
  color: #081f3e;
  font-weight: 700;
}

.aon-med-team {
  background-color: #f3f6f9;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 20px 15px;
  display: flex;
  transition: all 0.5s ease;
}
.aon-med-team:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 1px 3px 15px;
}

.aon-med-team .aon-med-team-pic:after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: rotate(10deg);
  border-radius: 50%;
  padding: 27px;
  border-left: 3px solid var(--mainColor);
  border-right: 3px solid var(--mainColor);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
}
.aon-med-team:hover .aon-med-team-pic:after {
  opacity: 1;
}
.aon-med-team:hover .aon-med-team-pic:after {
  animation: rotate 1.5s infinite linear;
}
.aon-med-team:hover .aon-med-team-pic {
  border-radius: 50%;
  transition: all 0.5s ease;
}
.aon-med-team:hover img {
  border-radius: 50%;
  transition: all 0.1s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.btn1,
.btn2:hover {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  transition: 0.3s;
  background-color: var(--backgroundColor);
  font-size: 15px;
}
.btn1:hover,
.btn2 {
  color: var(--backgroundColor);
  background-color: var(--mainColor);
  transition: 0.3s;
}
