<div class="wrapper">
  <h1 class="text-center">
    {{ department.title }} {{ "Doctors" | translate }}
  </h1>
  <div class="container my-5">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-lg-8 col-md-11">

        <div *ngIf="langauge == 'en' else searchArabic">
          <div class="search" >
            <i class="fa fa-search "></i>
            <input
              type="text"
              class="form-control rounded-pill"
              [placeholder]="'SearchByDoctor' | translate"
              [(ngModel)]="searchQuery"
              (input)="onSearch()"
            />
            <button class="btn btn-primary rounded-pill" (click)="onSearch()">
              {{ "Search" | translate }}
            </button>
          </div>
        </div>

        <ng-template #searchArabic>
          <div class="searchArabic" >
            <i class="fa fa-search "></i>
            <input
              type="text"
              class="form-control rounded-pill"
              [placeholder]="'SearchByDoctor' | translate"
              [(ngModel)]="searchQuery"
              (input)="onSearch()"
            />
            <button class="btn btn-primary rounded-pill" (click)="onSearch()">
              {{ "Search" | translate }}
            </button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="section-content">
      <div class="aon-med-team-section">
        <div class="row gy-1" *ngIf="SearchResult.length > 0">
          <app-doctor
            class="col-lg-6 col-md-12"
            [doctor]="doc"
            *ngFor="let doc of SearchResult"
          ></app-doctor>
        </div>
        <p *ngIf="SearchResult.length == 0" class="text-center fs-3">
          No Doctors in this department
        </p>
      </div>
    </div>
  </div>
</div>
