<div class="candidate-list-box card mt-4">
  <div class="p-4 card-body">
    <div class="align-items-center row">
      <div class="col-auto">
        <div class="candidate-list-images">
          <!-- <a routerLink="/News/:id"><img src="/assets/images/1.jpg" alt="" class="size img-thumbnail" /></a> -->
          <a routerLink="/News/{{ new.id }}"
            ><img src="{{ new.image }}" alt="" class="size img-thumbnail"
          /></a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="candidate-list-content mt-3 mt-lg-0">
          <h5 class="fs-19 mb-0">
            <a class="primary-link" routerLink="/News/:id">{{ new.title }}</a>
          </h5>
          <p class="my-2">
            <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
            earum quod optio aspernatur magnam voluptatibus sequi id, quia alias
            voluptate, dolorem numquam deserunt molestiae maiores doloribus.
            Porro velit architecto quibusdam? -->
            {{ new.description }}
          </p>
          <!-- <p class="text-muted">June 18, 2022</p> -->
          <p class="text-muted">{{ new.postedAt }}</p>
          <a class="primary-link" routerLink="/News/{{ new.id }}"
            >Read More...</a
          >
        </div>
      </div>
    </div>
    <div class="favorite-icon">
      <a routerLink="/News/{{ new.id }}" class="btn" title="Details"
        ><i class="fa-solid fa-desktop text-info"></i
      ></a>
      <a routerLink="/editNews/{{ new.id }}" class="btn" title="Edit"
        ><i class="fa-solid fa-pen-to-square text-warning"></i
      ></a>
      <button class="btn" title="Delete">
        <i class="fa-solid fa-trash text-danger"></i>
      </button>
    </div>
  </div>
</div>
