<div>
  <div class="aon-med-team d-flex">
    <div class="aon-med-team-pic">
      <!-- <img src="/assets/images/pic1.jpg" alt="Doctor Image"> -->

      <img src="{{ doctor.image }}" alt="Doctor Image" />
    </div>
    <div class="aon-med-team-info ms-3 mt-3">
      <h5 class="card-title mb-2">
        <a routerLink="/doctor/{{ doctor.id }}">
          Dr. {{ doctor.firstName + " " + doctor.lastName }}</a
        >
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ doctor.title }}</h6>

      <p class="card-text mb-3 fs-6">
        <span>Department :</span> {{ doctor.departmentTitle }}
      </p>

      <a class="btn btn1 me-2" routerLink="/doctor/{{ doctor.id }}"
        >View profile</a
      >

      <button class="btn btn2">Book</button>
    </div>
  </div>
</div>
