<button class="btn btn-outline-primary mb-4" routerLink="/Departments" >Back To List</button>

  <div class="col-lg-12" *ngIf="Department">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">ID</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{Department.id}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Title</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{Department.title}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Description</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{Department.description}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Number Of Beds</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{Department.numberOfBeds}}</p>
          </div>
        </div>
      </div>
    </div>

    <a routerLink="/EditDepartment/{{Department.id}}" class="btn btn-outline-primary me-2" title="Edit">Edit</a>
    <button (click)="DeleteDept(Department.id)" class="btn btn-outline-danger" title="Delete">Delete</button>


    