<div *ngIf="showFooter">
  <footer>
    <div class="container p-4">
      <div class="row g-3">
        <div class="col-lg-4 col-md-12">
          <div class="data">
            <div class="image py-3">
              <img src="assets/images/logo (1).png" alt="logo" />
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              malesuada lorem maximus mauris scelerisque, at rutrum nulla
              dictum. Ut ac ligula sapien.
            </p>
          </div>
          <div class="links py-4 d-flex">
            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
            <div class="icon"><i class="fa-brands fa-twitter"></i></div>
            <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="footer-widget-area">
            <div class="widget-title pt-3">
              <h5 class="fw-bold">Latest News</h5>
            </div>
            <div class="widget-blog-post mt-3">
              <div class="widget-single-blog-post d-flex py-2">
                <div class="widget-post-thumbnail pe-4">
                  <img src="assets/images/ln1.jpg" alt="" />
                </div>
                <div class="widget-post-content">
                  <a href="#">Better Health Care</a>
                  <p>Dec 02, 2017</p>
                </div>
              </div>

              <div class="widget-single-blog-post d-flex py-2">
                <div class="widget-post-thumbnail pe-4">
                  <img src="assets/images/ln3.jpg " alt="" />
                </div>
                <div class="widget-post-content">
                  <a href="#">Health department advice</a>
                  <p>Dec 02, 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="data mb-4 pt-3">
            <h5 class="ms-3 fw-bold">Have a Questions?</h5>
            <div class="block-23 mb-3">
              <ul>
                <li class="py-2">
                  <i
                    class="fa-solid fa-location-dot mx-2"
                    style="color: #18a3eb"
                  ></i
                  ><span class="text">Cairo , Egypt</span>
                </li>
                <li class="py-2">
                  <i class="fa-solid fa-clock mx-2" style="color: #18a3eb"></i
                  ><span class="text"
                    >Business Hours: From 08:00 AM To 12:00 AM</span
                  >
                </li>
                <li class="py-2">
                  <i class="fa-solid fa-phone mx-2" style="color: #18a3eb"></i
                  ><span class="text">+20 1016017395 </span>
                </li>
                <li class="py-2">
                  <i
                    class="fa-solid fa-envelope mx-2"
                    style="color: #18a3eb"
                  ></i
                  ><span class="text">MedicalTeam@gmail.com</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="credit">
    Copyright ©2023 All rights reserved | This template is made with
    <span class="fs-4">&hearts;</span> by <span> Medical Team</span>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
