<div class="text-center">
  <a routerLink="/AddNews" class="btn btn-outline-primary rounded-pill mb-4"
    >Create New News</a
  >
</div>
<section class="section mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="align-items-center row">
          <div class="col-lg-8">
            <div class="mb-3 mb-lg-0"><h2 class="fs-16 mb-0">News</h2></div>
          </div>
          
        </div>

        <div class="candidate-list">

          <app-news   [new]="n" *ngFor="let n of news"
          (removeNewsEvent)="removeNews($event)"
          ></app-news>
        </div>
      </div>
    </div>
  </div>
</section>
