<div class="container pt-4">
	<div class="row my-5 gy-5">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="#" class="list-group-item list-group-item-action " routerLink="/dashboard">Profile</a>
              <a class="list-group-item list-group-item-action active" >Reservation</a>
              <a href="#" class="list-group-item list-group-item-action ">Settings</a>
              <a href="#" class="list-group-item list-group-item-action">Logout</a>


            </div>
		</div>

    <div class="col-md-8 offset-md-1">
      <h4 class="mb-4">Your Reservation</h4>
      <div class="card-body info-card social-about px-4 py-2 rounded-4 mb-4">

     <div class="row py-3">

      <div class="col-lg-7">

        <div class="row my-2">
          <div class="col-lg-6  col-sm-5">
            <h6 class="mb-0">Department Name : </h6>
          </div>
          <div class="col-lg-6  col-sm-3 text-secondary">
          <p> Dentistry</p>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-lg-6">
            <h6 class="mb-0">Doctor Name : </h6>
          </div>
          <div class="col-lg-6 text-secondary">
           <p>Mohamed Salah</p>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-lg-6">
            <h6 class="mb-0">Status : </h6>
          </div>
          <div class="col-lg-6 text-secondary">
            <p>Visited</p>
          </div>
        </div>


      </div>

      <div class="col-lg-5">


        <div class="row my-2">
          <div class="col-lg-6">
            <h6 class="mb-0"> Date : </h6>
          </div>
          <div class="col-lg-6 text-secondary">
            <p>12 / 02 / 2023</p>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-lg-6">
            <h6 class="mb-0"> Time : </h6>
          </div>
          <div class="col-lg-6 text-secondary">
            <p>08 : 30 PM</p>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-lg-6">
            <h6 class="mb-0"> Queue Number : </h6>
          </div>
          <div class="col-lg-6 text-secondary">
            <p>5</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <a class="btn" target="__blank" href="">Update</a>
        </div>
      </div>

     </div>

    </div>


    <div class="card-body info-card social-about px-4 py-2 rounded-4 mb-4">

      <div class="row py-3">

       <div class="col-lg-7">

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0">Department Name : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
           <p>Cardiology</p>
           </div>
         </div>
         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0">Doctor Name : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
            <p>Nada Ayman</p>
           </div>
         </div>

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0">Status : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
            <p>Visited</p>
           </div>
         </div>


       </div>

       <div class="col-lg-5">


         <div class="row my-2 ">
           <div class="col-lg-6">
             <h6 class="mb-0"> Date : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
           <p>04 / 05 / 2023</p>
           </div>
         </div>

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0"> Time : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
            <p>10 : 30 AM</p>
           </div>
         </div>

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0"> Queue Number : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
          <p>12</p>
           </div>
         </div>

       </div>

      <div class="row">
        <div class="col-sm-12">
          <a class="btn" target="__blank" href="">Update</a>
        </div>
      </div>

      </div>


     </div>

     <div class="card-body info-card social-about px-4 py-2 rounded-4 mb-4">

      <div class="row py-3">

       <div class="col-lg-7">

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0">Department Name : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
           <p>Neurology</p>
           </div>
         </div>
         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0">Doctor Name : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
           <p> Khaled Ahmed</p>
           </div>
         </div>

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0">Status : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
            <p>Not yet</p>
           </div>
         </div>


       </div>

       <div class="col-lg-5">


         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0"> Date : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
           <p>15 / 06 / 2023</p>
           </div>
         </div>

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0"> Time : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
             <p>05 : 00 PM</p>
           </div>
         </div>

         <div class="row my-2">
           <div class="col-lg-6">
             <h6 class="mb-0"> Queue Number : </h6>
           </div>
           <div class="col-lg-6 text-secondary">
            <p>8</p>
           </div>
         </div>

       </div>

      <div class="row">
        <div class="col-sm-12">
          <a class="btn" target="__blank" href="">Update </a>
        </div>
      </div>
      </div>

     </div>
    </div>
	</div>
</div>


