.btn {
  color: #081f3e;
  border: 1px solid #081f3e;
  transition: 0.3s;
  background-color: var(--backgroundColor);
}
.btn:hover {
  color: var(--backgroundColor);
  background-color: #081f3e;
}
.card-body {
  background-color: var(--backgroundColor);
}

.status {
  color: #fff;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 5px;
}
