<button class="btn btn-outline-primary mb-4" routerLink="/Departments" >Back To List</button>

<div>
    <div class="row">
      <form #AddForm (ngSubmit)="Edit(title_EN.value,title_AR.value,description_EN.value,description_AR.value, NoOfBeds.value)" [formGroup]="validator" class="col">
  
        <div class="row">
          <div class="mb-3 col">
            <label class="form-label" for="title_EN">Title English</label>
            <input #title_EN formControlName="title_EN" [(ngModel)]="Department.title_EN" type="text" class="form-control" id="Title English" placeholder="title_EN" />
            <br>
            <div class="alert alert-danger" *ngIf="!Title_EN_Valid && title_EN.value">
              <p>*title_EN Must be 3 Letters or More</p>
              <p>*Less Than 50</p>
              <p>*No Special Characters</p>
            </div>
          </div>
  
          <div class="mb-3 col">
            <label class="form-label" for="description_EN">Description English</label>
            <input #description_EN formControlName="description_EN" [(ngModel)]="Department.description_EN" type="text" class="form-control" id="description_EN" placeholder="Description English" />
            <br>
            <div class="alert alert-danger" *ngIf="!Description_EN_Valid && description_EN.value">
              <p>*description_EN Must be 3 Letters or More</p>
              <p>*Less Than 50</p>
              <p>*No Special Characters</p>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="mb-3 col">
            <label class="form-label " for="title_AR">Title Arabic</label>
            <input #title_AR formControlName="title_AR" [(ngModel)]="Department.title_AR" type="text" class="form-control text-end" id="title_AR" placeholder="اسم القسم"/>
            <br>
            <div class="alert alert-danger" *ngIf="!Title_AR_Valid && title_AR.value">
              <p>*First Name in Arabic Must be 2 Letters or More</p>
              <p>*Less Than 50</p>
              <p>*Must be Writen in Arabic</p>
              <p>*No Special Characters or Numbers</p>
            </div>
          </div>
  
          <div class="mb-3 col">
            <label class="form-label" for="description_AR">Description Arabic</label>
            <input #description_AR formControlName="description_AR" [(ngModel)]="Department.description_AR" type="text" class="form-control text-end" id="description_AR" placeholder="التعريف"/>
            <br>
            <div class="alert alert-danger" *ngIf="!Description_AR_Valid && description_AR.value">
              <p>*Description in Arabic Must be 2 Letters or More</p>
              <p>*Less Than 50</p>
              <p>*Must be Writen in Arabic</p>
              <p>*No Special Characters or Numbers</p>
            </div>
          </div>
        </div>

        <div class="mb-3 col">
          <label class="form-label" for="NoOfBeds">Number Of Beds</label>
          <input #NoOfBeds formControlName="NoOfBeds" type="number" min="0"  [(ngModel)]="Department.numberOfBeds" class="form-control" id="NoOfBeds" placeholder="Number Of Beds"/>
          <br>
          <div class="alert alert-danger" *ngIf="!NoOfBeds_Valid && NoOfBeds.value">
            <p>Must Be Positive Number</p>
          </div>
        </div>
  
        <div class="row mb-3 ms-10 me-10 text-center">
          <div class="text-center">
            <input class="col-6" type="submit" value="Edit" class="w-50 btn rounded-pill btn-outline-primary">
          </div>
        </div>
      </form>
    </div>
  </div>