<section class=" wrapper pt-5 mb-5">
  <h2 class="text-center mb-5 fw-bold fs-1">{{"notfound" | translate}}</h2>
  <div class="container">

    <div class="section-content">

        <div class="page-notfound">

            <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                    <div class="page-notfound-media">
                        <img src="/assets/images/404.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="page-notfound-content m-b30">
                        <h3 class="error-comment">{{"Page404"| translate}}</h3>
                        <a routerLink="/home" class="site-button mt-3">{{"btn404" | translate}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</section>

