<div class="department">

    <div class="row mb-3 gy-3">


        <div class="col-lg-4">
          <div class="aon-med-team  d-flex ">

            <div class="aon-med-team-info ms-3 mt-3">
              <h5 class="card-title mb-2"><a href="">Cardiology</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Department specializing in heart-related conditions</h6>
              <a href="#" class="btn btn1 my-2">View</a>
            </div>
        </div>


       </div>




    </div>


</div>


