<div class="contact">
  <div class="banner">
    <div class="container">
      <div class="title">
        <h2>{{ "Departments" | translate }}</h2>
        <p class="text-white link-nav">
          <a routerLink="/home">{{ "Home" | translate }} </a>
          <i class="fa-solid fa-arrow-right" style="color: #081f3e"></i>
          <a routerLink="/departments"> {{ "Departments" | translate }}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="first">
    <h6 class="text-center my-4 fs-3 fw-bold search">
      {{ "Departments" | translate }}
    </h6>
    <div class="line mb-5"></div>
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          <input
            type="text"
            class="form-control rounded-pill"
            [placeholder]="'SearchByDept' | translate"
            [(ngModel)]="searchQuery"
            (input)="onSearch()"
          />
          <button class="btn btn-primary rounded-pill" (click)="onSearch()">
            {{ "Search" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-3 gy-3">
        <app-department
          class="col-lg-4"
          [department]="dept"
          *ngFor="let dept of SearchResult"
        ></app-department>
      </div>
    </div>
  </div>
</div>
