.bgGround{
  background-color: #081f3e;
}
.nav-item a{
  color: white;
  padding-right: 20px;
  font-size: 18px;
  position: relative;
}
.nav-item a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 3px;
  left: 5px;
  background-color: var(--mainColor);
  transition: all 0.5s;
}
 li .active::after,
 li:hover a::after {
    width: 70%;
}
.nav-item a:focus{
   color: var(--mainColor);
}
.button{
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid white;

}
.button>a{
  color: white;
}
.button:hover{
  border: 1px solid var(--mainColor);

}
.button:hover a{
  color: var(--mainColor);
}
@media screen and (max-width: 992px) {
  li .active::after,
  li:hover a::after {
     width: unset;
 }
}
