<section class="container my-5 wrapper pt-5">
  <a class="btn btn1" (click)="returnBack()">{{ "Back" | translate }}</a>
  <div class="py-3">
    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="{{ Doctor.image }}"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 180px; height: 180px; border: 1px solid black"
            />
            <h5 class="my-3">{{ Doctor.firstName + " " + Doctor.lastName }}</h5>
            <p class="text-muted mb-1">{{ Doctor.departmentTitle }}</p>
            <p class="text-muted mb-4">{{ Doctor.title }}</p>
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn1 m-1">{{ "Book" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-semibold">{{ "Name" | translate }}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ Doctor.firstName + " " + Doctor.lastName }}
                </p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-semibold">{{ "Department" | translate }}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ Doctor.departmentTitle }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0 fw-semibold">{{ "Title" | translate }}</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ Doctor.title }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <p class="fw-semibold">{{ "Bio" | translate }}:</p>
            <textarea
              class="form-control border-light"
              disabled
              [value]="Doctor.bio"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
