<div class="mt-2">
    <h1>Doctor Detailes</h1>
    <hr />
    <div class="d-flex flex-row justify-content-between ms-5">  
        <img class="w-25 h-50 img-fluid me-2" src="https://hips.hearstapps.com/hmg-prod/images/portrait-of-a-happy-young-doctor-in-his-clinic-royalty-free-image-1661432441.jpg?crop=0.66698xw:1xh;center,top&resize=1200:*" alt="Card image cap">
  
        <div class="col-8 me-5">
        <div>
          <h5>Name: {{Doctor.firstName+" "+Doctor.lastName}}</h5>
        </div>
        <hr>
        <div>
          <h5>Department: {{Doctor.departmentTitle}}</h5>
        </div>
        <hr>
        <div>
            <h5>Title: {{Doctor.title}}</h5>
        </div>
        <hr>
        <div>
          <h5>Bio:</h5>
          <textarea class="form-control border-success w-100" cols="50" rows="7"  disabled [value]="Doctor.bio"></textarea>
        </div>
        <hr>
        <div class="mt-2">
          <a class="btn btn-warning m-1 text-white" routerLink="/doctor">Back to List</a>
          <button class="btn btn-primary m-1">Book</button> 
        </div>
      </div>
    </div>
  </div>
  